<h4>Image générée :</h4>
<img 
    src="data:image/png;base64,{{ image }}" 
    alt="Image générée" 
    class="img-fluid rounded shadow-sm border border-secondary"
    style="max-height: 500px; object-fit: contain;"/>

